<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>gerador-img</title>
  <link rel="stylesheet" href="./dist/app.css">
</head>

<body>
  <div id="app">

    <div class="container height-full">
      <div class="basis05 menu-icons">
        <div class="container column">
          <div class="tes">
            <label for="sizeMenu">
              <img src="./src/assets/svg/size.svg " alt="" width="20" />
            </label>
            <input type="radio" name="name" v-model="menu" id="sizeMenu" value="sizeMenu">
          </div>
          <div class="tes">
            <label for="picMenu">
              <img src="./src/assets/svg/picture.svg " alt="" width="20" />
            </label>
            <input type="radio" name="name" v-model="menu" id="picMenu" value="picMenu">
          </div>
          <div class="tes">
            <label for="alignMenu">
              <img src="./src/assets/svg/align.svg " alt="" width="20" />
            </label>
            <input type="radio" name="name" v-model="menu" id="alignMenu" value="alignMenu">
          </div>
          <div class="tes">
            <label for="fontMenu">
              <img src="./src/assets/svg/font.svg " alt="" width="20" />
            </label>
            <input type="radio" name="name" v-model="menu" id="fontMenu" value="fontMenu">
          </div>
          <div class="tes">
            <label for="componentsMenu">
              <img src="./src/assets/svg/components.svg " alt="" width="20" />
            </label>
            <input type="radio" name="name" v-model="menu" id="componentsMenu" value="componentsMenu">
          </div>
        </div>
      </div>
      <div class="basis2 menu-principal">


        <div v-if="menu == 'sizeMenu'" v-cloak>
          <div>
            <p>width</p>
            <input type="number" v-model="widthValue" placeholder="width">
            <p>height</p>
            <input type="number" v-model="heightValue" placeholder="height">

          </div>
        </div>

        <div v-else-if="menu == 'alignMenu'" v-cloak>
          <div class="item1">
            <h2>Align</h2>
            <div class="container justify-center alignStyle">
              <div class="">
                <input type="radio" id="left" name="jus" v-model="justify" value="justify-start">
                <label for="left"><img src="./src/assets/svg/002-left-alignment.svg" alt=""></label>
                <br />
              </div>
              <div class="">
                <input type="radio" id="center" name="jus" v-model="justify" value="justify-center">
                <label for="center"><img src="./src/assets/svg/001-center-alignment.svg" alt=""></label>
                <br />
              </div>
              <div class="">
                <input type="radio" id="right" name="jus" v-model="justify" value="justify-end">
                <label for="right"><img src="./src/assets/svg/003-right-alignment.svg" alt=""></label>
              </div>
            </div>

            <div class="container justify-center alignStyle">
              <div class="">
                <input type="radio" id="top" name="ali" v-model="align" value="align-start">
                <label for="top"><img src="./src/assets/svg/006-vertical-alignment.svg" alt=""></label>
                <br />
              </div>
              <div class="">
                <input type="radio" id="center2" name="ali" v-model="align" value="align-center">
                <label for="center2"><img src="./src/assets/svg/004-vertical-alignment-2.svg" alt=""></label>
                <br />
              </div>
              <div class="">
                <input type="radio" id="bottom" name="ali" v-model="align" value="align-end">
                <label for="bottom"><img src="./src/assets/svg/005-vertical-alignment-1.svg" alt=""></label>
              </div>
            </div>
          </div>
        </div>
        <div v-else-if="menu == 'picMenu'" v-cloak>
          <div class="item1">
            <h2>Image</h2>
            <div>

              <label for="imgPrincipal">
                <img src="./src/assets/svg/photo-camera.svg" alt="" style="width: 30px">
              </label>
              <input id="imgPrincipal" type="file" @change="onFileChange" class="hide" @click="teste">

            </div>
            <button v-if="image" @click="removeImage">Remove image</button>
          </div>

          <div class="item1">
            <h2>Color</h2>
            <div>
              <ul>
                <li>No color- <input type="radio" id="cor1" v-model="bgColor" value="nobg"></li>
                <li>Color 1 - <input type="radio" id="cor1" v-model="bgColor" value="bg1"></li>
                <li>Color 2 - <input type="radio" id="cor2" v-model="bgColor" value="bg2"></li>
                <li>Color 3 - <input type="radio" id="cor3" v-model="bgColor" value="bg3"></li>
                <li>Color 4 - <input type="radio" id="cor4" v-model="bgColor" value="bg4"></li>
                <li>Color 5 - <input type="radio" id="cor5" v-model="bgColor" value="bg5"></li>
                <li>Color 6 - <input type="radio" id="cor6" v-model="bgColor" value="bg6"></li>
                <li>Color 7 - <input type="radio" id="cor7" v-model="bgColor" value="bg7"></li>
                {{bgColor}}

                <div style="height: 100px; width: 100px" v-bind:class="bgColor"></div>
              </ul>
            </div>
          </div>




        </div>
        <div v-else-if="menu == 'fontMenu'" v-cloak>
          <div class="item1">
            <h2>Text</h2>
            <h4>title</h4>
            <input type="text" v-model="text" placeholder="Digite seu texto">
            <button v-show="!shown" @click="toggleText">Adicionar</button>
            <button v-show="shown" @click="toggleText">Remover</button>


            <h4>subtitle</h4>
            <input type="text" v-model="stext" placeholder="Digite seu texto">
            <button v-show="!shownn" @click="toggleStext">Adicionar</button>
            <button v-show="shownn" @click="toggleStext">Remover</button>
            <br />



            <h4>Color</h4>
            <compact-picker v-model="colors"></compact-picker>

            <h4>Title font size</h4>
            <input min="12" max="60" v-model="fontSize" type="range">

            <h4>Subtitle font size</h4>
            <input min="12" max="60" v-model="fontSizes" type="range">

          </div>
        </div>
        <div v-else-if="menu == 'componentsMenu'" v-cloak>componentsMenu</div>
        <div v-else>loading...</div>






        <!-- <div class="item1">
          <h2>Size</h2>

          <button v-on:click="counter++">+</button>
          <button v-on:click="counter--">-</button>
          <p>{{ counter }}</p>

        </div> -->







        <!-- <div class="item1">
      <div id="todo-list-example">
        <input v-model="newTodoText" v-on:keyup.enter="addNewTodo" placeholder="Add a todo">
        <ul>
          <li is="todo-item" v-for="(todo, index) in todos" v-bind:key="todo" v-bind:title="todo" v-on:remove="todos.splice(index, 1)"></li>
        </ul>
      </div>
    </div> -->

      </div>
      <div class="basis5 flex conteudo">
        <div class="container center height-full">
          <div class="role container" v-bind:style="{ width: widthValue + 'px', background: 'url(' + image + ')', height: heightValue + 'px'}" v-bind:class="justify + ' ' + align + ' ' + bgColor">
            <!-- <img v-if="image" :src="image" style="object-fit: cover" v-bind:style="{ width: widthValue + 'px', height: heightValue + 'px'}"/> -->
            <div class="aqui">
              <label for="fontMenu">
                <h1 v-show="shown" v-text="text" v-bind:style="{ color: colors.hex, fontSize: fontSize + 'px' }"></h1>
                <p v-show="shownn" v-text="stext" v-bind:style="{ color: colors.hex, fontSize: fontSizes + 'px' }"></p>
              </label>
            </div>
          </div>
        </div>
      </div>
    </div>







  </div>
  <script src="./dist/build.js"></script>
</body>

</html>
